.base-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 38px;
  padding: 7px 26px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.base-button {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: Inter;
}
.base-button:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.1);
}

.base-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}